.home-background{
  background: url('/images/home-background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

.home{
  background-color: rgba(255,255,255,.7);
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Marker Felt, fantasy;
}

.footer-background{
  background-color: #154a00;
  height: 180px;
  color: white;
}

