.home-background{
  background: url('/images/home-background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

.home{
  background-color: rgba(255, 255, 255, .7);
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.footer-background{
  background-color: #154a00;
  height: 180px;
  color: white;
}
.clubsInfo-background {
  background: url('/images/home-background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 650px;
  margin-top: 14px;
}
.clubsInfo {
  background-color: rgba(255, 255, 255, .9);
  top: 40px;
  position: relative;
  border-radius: 30px;
  height: 500px;
}

